@font-face {
  font-family: "Geoform";
  src: url(../assets/geoform/Geoform-Bold.otf);
}
.banner {
  font-family: "Geoform";
  height: 11 rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
}

h2 {
  font-size: 0.5rem;
  font-weight: 800;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-top: 0.5rem;
}

.banner img {
  width: 30%;
  height: 30%;
}
