@font-face {
  font-family: "Geofrom";
  src: url(../assets/geoform/Geoform-Bold.otf);
}

.mysessions h3 {
  font-family: "Geofrom";
  font-size: 2em;
  color: #2e5077;
}

.mysessions {
  display: flex;
  flex-direction: column;
  margin: 1em;
  background-color: white;
  padding: 1rem;
  border-radius: 1em;
}

.mysessions-container {
  display: flex;
  flex-wrap: wrap; /* Permet de passer à la ligne si l'écran est trop petit */
  justify-content: flex-start; /* Centre les cartes horizontalement */
  gap: 20px; /* Espacement entre les cartes */
  padding: 20px;
}
