@font-face {
  font-family: "Geofrom";
  src: url(../assets/geoform/Geoform-Bold.otf);
}

.mysessions h3 {
  font-family: "Geofrom";
  font-size: 2em;
  color: #2e5077;
}

.mysessions {
  display: flex;
  flex-direction: column;
  margin: 1em;
  background-color: white;
  padding: 1rem;
  border-radius: 1em;
}

.sessionsCard {
  font-family: "roboto";
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 3px solid #2e5077;
  border-radius: 1em;
  max-width: 20%;
}
