@font-face {
  font-family: "Geofrom";
  src: url(../assets/geoform/Geoform-Bold.otf);
}
h3 {
  font-family: "Geofrom";
  font-size: 3em;
  color: #2e5077;
}

.techniquescard {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #2e5077;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
