@font-face {
  font-family: "Geofrom";
  src: url(../assets/geoform/Geoform-Bold.otf);
}
.mytechniques h3 {
  font-family: "Geofrom";
  font-size: 2em;
  color: #2e5077;
}

.mytechniques {
  display: flex;
  flex-direction: column;
  margin: 1em;
  background-color: white;
  padding: 1rem;
  border-radius: 1em;
}
