.navbar {
  background-color: white;
  border-radius: 1rem;
  color: white;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
