.techniques-container {
  display: flex;
  flex-wrap: wrap; /* Permet de passer à la ligne si l'écran est trop petit */
  justify-content: flex-start; /* Centre les cartes horizontalement */
  gap: 20px; /* Espacement entre les cartes */
  padding: 20px;
}

.techniquescard {
  width: 300px; /* Largeur fixe pour chaque carte */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.techniquescard:hover {
  transform: scale(1.05); /* Effet au survol */
}

.btnAfficherPlus {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  background-color: #0f0f0f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.btnAfficherPlus:hover {
  background-color: #00ff88;
}
